* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 135%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 100%;
    min-width: 100vh;
    color: white;
    margin: 200px 100px 50px;
}

.notes {
    display: flex;
    margin-bottom: 30px;
}

.notes img {
    width: 60px;
}

.button_item {
    padding: 10px 15px;
    margin-bottom: 15px;
    color: white;
    background: linear-gradient(#9418fd, #571094);
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

button img {
    width: 25px;
    margin-right: 5px;
}

.input_box {
    position: relative;
    width: 100%;
    margin-right: 8px;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    margin: 15px 0;
}

.input_box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}